/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/images
/public/apk
/storage/*.key
/vendor
.env
.env.backup
composer.json
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid
